<style type="text/css">
    .table {
        border-collapse: collapse;
        margin: auto;
    }

    .td {
        font-size: 14px;
        vertical-align: top;
        padding-left: 5px;
    }

    .tr {
        height: 13px
    }

    .page1 {
        page-break-after: always;
    }

    .width100 {
        width: 100%
    }

    .width90 {
        width: 90%
    }

    .width82 {
        width: 82%
    }

    .width72 {
        width: 72%
    }

    .width60 {
        width: 60%
    }

    .width50 {
        width: 50%
    }

    .width40 {
        width: 40%
    }

    .width30 {
        width: 30%
    }

    .width20 {
        width: 20%
    }

    .width10 {
        width: 10%
    }

    .width3 {
        width: 3%
    }

    .botbord1 {
        border-bottom: 1px solid black
    }

    .nowrap {
        white-space: nowrap;
    }

    .smallest {
        font-size: 11px;
    }

    .textright {
        text-align: right
    }

    .textcenter {
        text-align: center
    }
</style>
<table border="1" class="nowrap width100 table textcenter" style="color:gray; vertical-align:middle;border:1px solid gray">
    <tbody>
        <tr class="tr">
            <td class="td" style="width:20%;padding:0px">
                <img src="/Images/Print/KFA_logo.png" style="height:35px; " /><br />
                <br />
                Agencija za Hranu i Veterinartsvo<br />
                Food and Veterinary Agency
            </td>
            <td class="td" style="width:60%; vertical-align:middle; padding:0px">
                Adresa: Zona Industriale P.N., 10000 Prishtin&euml;<br />
                Republika e Kosov&euml;s/Republika Kosova/ Republic of Kosovo<br />
                Web: <a href="www.auv-ks.net">www.auv-ks.net</a><br />
                Tel: 038 551 055<br />
                Faqe 1 nga 1
            </td>
            <td class="td" style="width:20%; vertical-align:middle">&nbsp;</td>
        </tr>
    </tbody>
</table>
&nbsp;

<table class="nowrap table width100">
    <tbody>
        <tr>
            <td class="textcenter td">
                <b>
                    RAPORT TESTIMI/TESTIRANJE IZVE&Scaron;TAJ/TESTING REPORT<br />
                    1/ Pat/ 2019
                </b>
            </td>
        </tr>
    </tbody>
</table>
&nbsp;

<table class="width100">
    <tbody>
        <tr class="tr">
            <td class="td  nowrap"><b>Emri dhe adresa e pronarit / ( Tel., Fax );</b></td>
            <td class="td width72">{RequesterInfo}</td>
        </tr>
        <tr class="tr">
            <td class="td"><b>Ime i adresa vlasnika / ( Tel., Fax ):</b></td>
            <td class="td">&nbsp;</td>
        </tr>
        <tr class="tr">
            <td class="td"><b>Name and addres of owner / ( Tel., Fax ): </b></td>
            <td class="td">&nbsp;</td>
        </tr>
    </tbody>
</table>
&nbsp;

<table class="width100">
    <tbody>
        <tr class="tr">
            <td class="td nowrap "><b>Emri i derguesit te mostres ( Tel., Fax, adresa ):</b></td>
            <td class="td width72">{Representative}</td>
        </tr>
        <tr class="tr">
            <td class="td"><b>Ime posiljaoca uzorka ( Tel., Fax, adresa):</b></td>
            <td class="td">&nbsp;</td>
        </tr>
        <tr class="tr">
            <td class="td"><b>Name of the sender ( Tel., Fax, address):</b></td>
            <td class="td">&nbsp;</td>
        </tr>
    </tbody>
</table>
&nbsp;

<table class="width100">
    <tbody>
        <tr class="tr ">
            <td class="td nowrap "><b>Anamneza:</b></td>
            <td class="td width72">&nbsp;</td>
        </tr>
        <tr class="tr">
            <td class="td"><b>The relavant history :</b></td>
            <td class="td">&nbsp;</td>
        </tr>
    </tbody>
</table>
&nbsp;

<table class="width100">
    <tbody>
        <tr class="tr">
            <td class="td "><b>Lloji, raca, gjinia, mosha dhe hibridi:</b></td>
            <td class="td  width72">{species}</td>
        </tr>
        <tr class="tr">
            <td class="td"><b>Vrsta, rasa, rod, dob i hybrid: </b></td>
            <td class="td">&nbsp;</td>
        </tr>
        <tr class="tr">
            <td class="td nowrap"><b>The species, breed, sex, age and hybrid: </b></td>
            <td class="td">&nbsp;</td>
        </tr>
    </tbody>
</table>
&nbsp;

<table class="width100">
    <tbody>
        <tr class="tr">
            <td class="td nowrap "><b>Semundja ne te cilen dyshohet dhe analiza qe k&euml;rkohet: </b></td>
            <td class="td  width72">{Sicknesses}</td>
        </tr>
        <tr class="tr">
            <td class="td"><b>Bolest na koju se sumnja i vrsta analize koja se trazi:</b></td>
            <td class="td">&nbsp;</td>
        </tr>
        <tr class="tr">
            <td class="td"><b>Disease suspected and tests requested: </b></td>
            <td class="td">&nbsp;</td>
        </tr>
    </tbody>
</table>
&nbsp;

<table class="width100">
    <tbody>
        <tr class="tr ">
            <td class="td nowrap "><b>Data e pranimit t&euml; mostr&euml;s:</b></td>
            <td class="td width72">{LaboratoryRegisterDate}</td>
        </tr>
        <tr class="tr">
            <td class="td"><b>Datum primanja uzoraka :</b></td>
            <td class="td">&nbsp;</td>
        </tr>
        <tr class="tr">
            <td class="td"><b>Date of recive the samples:</b></td>
            <td class="td">&nbsp;</td>
        </tr>
    </tbody>
</table>
&nbsp;

<table class="width100">
    <tbody>
        <tr class="tr">
            <td class="td  nowrap"><b>Rezultati i analiz&euml;s :<br /> Rezultat analize: <br />Result of analysis:</b></td>
            <td class="td width72">{InvestigationResult}</td>
        </tr>
    </tbody>
</table>
&nbsp;

<table class="width100">
    <tbody>
        <tr class="tr ">
            <td class="td nowrap "><b>Diagnoza/Diagnoza/Diagnosis:</b></td>
            <td class="td  width72">{Sicknesses}</td>
        </tr>
    </tbody>
</table>
&nbsp;

<table class="nowrap width100">
    <tbody>
        <tr class="tr">
            <td class="width50">&nbsp;</td>
            <td class="td nowrap"><b>V&euml;rejtje: </b></td>
            <td class="td width50">&nbsp;</td>
        </tr>
    </tbody>
</table>
&nbsp;

<table class="nowrap width100">
    <tbody>
        <tr class="tr">
            <td class="td nowrap"><b>Data e l&euml;shimit t&euml; rezultateve:</b></td>
            <td class="width82 td ">{IssuedDate}</td>
        </tr>
        <tr class="tr">
            <td class="td"><b>Datum izdavanja rezultata:</b></td>
            <td class="width82 td">&nbsp;</td>
        </tr>
        <tr class="tr">
            <td class="td"><b>Date of issue of result </b></td>
            <td class="width82 td">&nbsp;</td>
        </tr>
    </tbody>
</table>
&nbsp;

<table class="nowrap width100">
    <tbody>
        <tr class="tr">
            <td class="td"><b>U.D Udhёheqёs i Sektorit</b></td>
            <td class="width20 td">&nbsp;</td>
            <td class="td"><b>V.V</b></td>
            <td class="width20 td">&nbsp;</td>
            <td class="td"><b>Drejtori i LUV -s </b></td>
            <td class="width20 td">&nbsp;</td>
        </tr>
        <tr class="tr" style="height:25px">
            <td class="botbord1 td">&nbsp;</td>
            <td class="td">&nbsp;</td>
            <td class="td">&nbsp;</td>
            <td class="td">&nbsp;</td>
            <td class="botbord1 td">&nbsp;</td>
            <td class="td">&nbsp;</td>
        </tr>
        <tr class="tr">
            <td class="td">(Xhavit Merovci DMV)</td>
            <td class="td">&nbsp;</td>
            <td class="td">&nbsp;</td>
            <td class="td">&nbsp;</td>
            <td class="td">( Kujtim Uka DMV )</td>
            <td class="td">&nbsp;</td>
        </tr>
    </tbody>
</table>

<div id="gtx-trans" style="position: absolute; left: 398px; top: 854.281px;">
    <div class="gtx-trans-icon">&nbsp;</div>
</div>
