################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Portal/bin
/Portal/obj
/Portal/appsettings.Development.json
/SLN/.vs
/SLN/packages
/WebCommon/Controls/CheckBox/bin
/WebCommon/Controls/CheckBox/obj
/WebCommon/Controls/DateRange/bin
/WebCommon/Controls/DateRange/obj
/WebCommon/Controls/File/bin
/WebCommon/Controls/File/obj
/WebCommon/Controls/Image/bin
/WebCommon/Controls/Image/obj
/WebCommon/Controls/Input/bin
/WebCommon/Controls/Input/obj
/WebCommon/Controls/Link/bin
/WebCommon/Controls/Link/obj
/WebCommon/Controls/MultyCheck/bin
/WebCommon/Controls/MultyCheck/obj
/WebCommon/Controls/NumberRange/bin
/WebCommon/Controls/NumberRange/obj
/WebCommon/Controls/Select/bin
/WebCommon/Controls/Select/obj
/WebCommon/GeneticLabweblib/bin
/WebCommon/GeneticLabweblib/obj
/WebCommon/weblib/bin
/WebCommon/weblib/obj
/Portal/Plugins
/.vs
/WebCommon/AMAPweblib/obj
/WebCommon/AMAPweblib/bin
/WebCommon/SecurityCRMweblib/obj
/WebCommon/SecurityCRMweblib/bin
/Data/SecurityCRMDatabase.jfm
/Data/SecurityCRMDatabase.dbmdl
