<div class="modal modal-danger modal-deleteall-confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="closeModalDelete()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">@SecurityCRM.Helpers.T.Str("DeleteConfirmationDialog", "FrontEnd", "Delete Confirmation Dialog")</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete {0}"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="closeModalDelete()" class="btn btn-outline pull-left" data-dismiss="modal">@SecurityCRM.Helpers.T.Str("Cancel", "FrontEnd", "Cancel")</button>
                <button type="button" onclick="do_delete_all_from_grid()" class="btn btn-outline"><i class="fa fa-trash-o"></i> @SecurityCRM.Helpers.T.Str("Delete", "FrontEnd", "Delete")</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>