################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiContracts/bin
/ApiContracts/obj
/.vs/DTO/v16
