@using Weblib.Models
@{
    Layout = "~/Views/Master/_Print.cshtml";
    var BOProperties = (Lib.AdvancedProperties.BoAttribute)ViewData["BOProperties"];
    var Properties = (Lib.AdvancedProperties.AdvancedProperties)ViewData["Properties"];
    var BOType = (Type)ViewData["BOType"];
}      
<h1 class="print-report-caption"><i class="fa fa-@(BOProperties.Icon)"></i> @(BOProperties.DisplayName)</h1>
<table>
    <tr>
        @foreach (Lib.AdvancedProperties.AdvancedProperty property in Properties)
        {
             @:<th>
                @: @(property.Common.DisplayName)
             @:</th>
        }
    </tr>
    @foreach (var item in ((Dictionary<long, Lib.Tools.BO.ItemBase>)Model).Values)
    {
    @:<tr>
        foreach (Lib.AdvancedProperties.AdvancedProperty property in Properties)
        {
        @:<td @Html.Raw(property.Common.PrintWidth!=0?"style=\"width:"+property.Common.PrintWidth.ToString()+ "\"" : "")>
                object lControlModel=property.GetDataProcessor().SetValue(property.PropertyDescriptor.GetValue(item), property, (Lib.Tools.BO.ItemBase)item, true);
                @Html.PartialAsync("../Controls/Generic/"+property.ControlView,lControlModel).Result 
            @:</td>
        }
    @:</tr>
    }
</table>
<div class="print-end"></div>